<div class="row">
  <div class="question" id="<%= dom_id(question)%>">
    <div class="qa-content">
      <div class="col-sm-1"><%= question.count_votes %></div>
      <div class="col-sm-11">
        <%= link_to question.title, question_path(question) %>
      </div>
    </div>
    <div class="qa-footer">
      <span class="qa-info">Asked By: <%= you_or_user(question) %></span>
      <span class="qa-info"><%= time_ago_in_words(question.updated_at) %></span>
    </div>
  </div>
</div>
<hr/>
