<nav class="navbar navbar-default navbar-fixed">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "StekOverflu", root_url, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to "Questions", questions_path %> </li>
        <% if current_user %>
        <li>
          <%= link_to user_path(current_user) do %>
          <%= image_tag current_user.avatar + "&size=20", width: "20", height: "20" %>
          <%= current_user.nickname %>
          <% end %>
        </li>
        <li> <%= link_to "Votes", "#" %> </li>
        <li> <%= link_to "Settings", "#" %> </li>
        <% else %>
          <li><%= link_to "SignIn with Github", "/auth/github" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
